<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <form id="matchForm" action="#">
                <ul>
                    <li>
                        <h3>{{=match.name}}</h3>
                    </li>
                    <li id="currentplayers">
                        <ul>
                        {{ _.each(match.players, function(player) { }} 
                            <li id="race_{{= player.race.id }}">
                                <a href="#" class="raceSelect">
                                    {{= player.race.name }} 
                                </a>
                            </li>
                        {{}); }}
                        </ul>
                    </li>
                    <li id="newPlayer">
                        <span><input type="text" id="newPlayer" name="newPlayer"/></span>
                        <ul id="raceSelection">
                            
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </body>
</html>
